<% if @user == current_user %>
    <h2> <%= link_to "< Back to your profile", user_path(@user) %> </h2>
<% else %>
    <h2><%= link_to "< Back to #{@user.username} profile", user_path(@user) %></h2>
<% end %>

<div style="display: flex; gap: 5px; justify-content: center;">
    <% if @user == current_user %>
        <h1 class="following-index-title" style="text-align: center;">You Follow</h1>
    <% else %>
        <h1 class="following-index-title" style="text-align: center;"><%= @user.username%> Follows</h1>
    <% end %>
    
    <h2>(<%= @user.followings.count %>)</h2>
</div>


<div class="users-display">
    <% @followings.each do |following| %>
        <%= render partial: "users/user_discover_card", locals: { user: following } %>
    <% end %>
</div>

<% if @pagy.pages > 1 %>
    <div id="users-pagination" class="pagination">
        <%== pagy_nav(@pagy) %>
    </div>
<% end %>