<div class="comment-wrapper" style="height: fit-content; border-left: 1px solid black;">
    <%= link_to user_path(current_comment.user) do %>
        <%= image_tag current_comment.user.avatar, size: current_comment.user.avatar_thumbnail_size %>
        <%= current_comment.user.username %>
    <% end %>
    <p><%= current_comment.body %></p>
    <p>Likes: <%= current_comment.likes.count %></p>
    <p><%= current_comment.created_at.strftime("%B %d, %Y %I:%M:%S%p") %></p>
    <% if current_comment.replies.any? %>
        <ul>
            <% current_comment.replies.each do |reply| %>
                <li class="listed-reply-wrapper" style="list-style: none;">
                    <%= render partial: "/posts/shared/comment", locals: { current_comment: reply } %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>