<% posts.sort_by(&:created_at).reverse.each do |post| %>
    <div class="post-wrapper" style="width: fit-content; border-left: 4px solid black; background-color: lightgrey; padding: 5px; margin: 5px;">
        <div>
            <%= link_to user_path(post.poster) do %>
                <%= image_tag post.poster.avatar, size: post.poster.avatar_thumbnail_size %>
                <%= post.poster.username %>
            <% end %>
            <p><%= post.body %></p>
            <div class="post-details" style="display: flex; flex-direction: row; gap: 2px;" >
                <p>Likes: <%= post.likes.count %></p>
                <p>|</p>
                <p><%= post.created_at.strftime("%B %d, %Y %I:%M:%S%p") %></p>
            </div>
        </div>
        <p style="border-bottom: 1px solid black;">Comments:</p>
        <% if post.comments.any? %>
            <div>
                <ul>
                    <% post.comments.top_level.each do |comment| %>
                        <li class="listed-comment-wrapper" style="list-style: none;">
                            <%= render partial: "/posts/shared/comment", locals: { current_comment: comment } %>
                        </li>
                    <% end %>
                </ul>
            </div>
        <% else %>
            <p>No comments made...</p>
        <% end %>
    </div>
<% end %>