<% if @user == current_user %>
    <h1>Your Profile</h1>
<% else %>
    <h1><%= @user.username %>'s Profile</h1>
<% end %>

<% if @user.avatar.attached?%>
    <%= image_tag @user.avatar, size: @user.avatar_profile_size %>
<% else %>
    <%= image_tag @user.avatar, size: avatar_profile_size%>
<% end %>

<div class="profile-follow-data" data-controller="follows">
    <% if current_user == @user %>
    <% elsif  current_user.follows?(@user) %>
        <%= button_to "Unfollow", follow_path(Follow.find_by(followed: @user, follower: current_user).id), method: :delete, data: {turbo: true} %>
    <% elsif !current_user.follows?(@user)%>
        <div><%= render partial: "follows/shared/follow_form", locals: {current_user: current_user, other_user: @user}%></div>
    <% end %>
    <div class="follows-wrapper" style="display: flex; gap: 5px; align-items: center;">
        <%= link_to "Following: #{@user.followings.count}", user_followings_path(@user) %>
        <p> | </p>
        <%= link_to "Followers: #{@user.followers.count}", user_followers_path(@user) %>
    </div>
</div>

<h2>Posts</h2>
<p id="post-count"><%= @user.posts.count %> posts</p>
<div class="user-profile-main-wrapper" style="display: flex; flex-direction: column;">
    <% if @user == current_user%>
        <div class="new-post-wrapper" style="align-self: center;">
            <%= turbo_frame_tag "new-post", src: new_post_path %>
        </div>
    <% end %>
    <div id="posts">
        <div>
            <% @posts.each do |post| %>
                <%= render partial: "posts/post_only", locals: { post: post, user_post_likes: @user_post_likes, user_comment_likes: @user_comment_likes } %>
            <% end %>
        </div>
    </div>
</div>

<div id="user-posts-pagination">
    <%= link_to "⇓ Load More Posts ⇓", user_path(page: @pagy.next, format: :turbo_stream), data: { turbo_stream: true, turbo_prefetch: false }, class: "pagination" %>
</div>