<h1><%= @user.username %>'s Profile</h1>

<% if @user.avatar.attached?%>
    <%= image_tag @user.avatar, size: @user.avatar_profile_size %>
<% else %>
    <%= image_tag @user.avatar, size: avatar_profile_size%>
<% end %>

<p>Following: <%= @user.followings.count %> | Followers: <%= @user.followers.count %></p>

<h2>Posts</h2>
<% if @user.posts.any? %>
    <div>
        <%= render partial: "/posts/shared/posts", locals: { posts: @user.posts } %>
    </div>
<% end %>