<%= content_tag :div, id: "post-#{post.id}-wrapper", class: "post-wrapper-show" do %>
    <div>
        <div class="user-info-options-wrapper" style="display: flex; align-items: flex-start; justify-content: space-between;">
            <div class="user-info">
                <%= link_to user_path(post.poster) do %>
                    <div style="display: flex; align-content: align-items: center; gap: 5px;">
                        <%= image_tag post.poster.avatar, size: post.poster.avatar_thumbnail_size %>
                        <%= post.poster.username %>
                    </div>
                <% end %>
            </div>
            <div style="display: flex; gap: 5px;">
                <% if post.poster == current_user %>
                    <div data-controller="options">
                        <%= render partial: "layouts/shared/options", locals: {object: post} %>
                    </div>
                <% end %>
            </div>
        </div>
        <p><%= post.body %></p>
        <div class="post-details" style="display: flex; flex-direction: row; gap: 2px;" >
            <p><%= post.created_at.strftime("%B %d, %Y %I:%M:%S%p") %></p>
        </div>
    </div>
    
    <div style="display: flex; align-items: center; border-bottom: 1px solid black; gap: 5px;">
        <%= content_tag :div, id: "post-#{post.id}-like-wrapper", style: "display: flex; align-items: center; gap: 5px;" do %>
            <% if current_user.likes_this?(post) %>
                <div>
                    <%= render partial: "likes/unlike_button", locals: {like: post} %>
                </div>
            <% else %>
                <div>
                    <%= render partial: "likes/like_button", locals: {likeable: post} %>
                </div>
            <% end %>
            <%= link_to "#{post.likes.count} likes", post_likes_path(post) %>
        <% end %>
        <p>|</p>
        <%= content_tag :div, id: "post-#{post.id}-comment-count" do %>
            <%= link_to "#{post.comments.count} Comments", post_path(post) %>
        <% end %>
        <div>
            <%= turbo_frame_tag "post_#{post.id}_new_comment" do %>
                <%= link_to "Comment", new_comment_path(post: post, context: "show") %>
            <% end %>
        </div>
    </div>

    <%= content_tag :div, id: "comments_#{post.id}" do %>
        <% post.comments.top_level.each do |comment| %>
            <%= render partial: "comments/post_show_comment", locals: { current_comment: comment, user_comment_likes: user_comment_likes } %>
        <% end %>
    <% end %>
<% end %>