<%= turbo_frame_tag "new-post" do %>
    <%= form_with model: @post, url: posts_path(context: @context) do |form| %>
        <div style="display: flex; align-items: center;">
            <%= form.textarea :body %>
            <%= form.hidden_field :poster_id, value: current_user.id%>
            <%= form.hidden_field :poster_id, value: current_user.id%>
            <%= form.hidden_field :context, value: @context %>
            <%= form.submit %>
        </div>
    <% end %>
<% end %>